/* common sharesd styles*/
body {
  font-family: "Open Sans", sans-serif;
}
.text-orange {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  border: 0;
  padding: 12px 25px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}

/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
}

.web-name {
  font-size: 45px;
  font-weight: 800;
  line-height: normal;
}
.text-orange {
  color: #fd6e0a;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}

/* header ralated styles */
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 55%;
}
.banner {
  margin: 30px 30px 30px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .banner-pic {
  height: 620px;
  width: 530px;
}
.banner-greting {
  color: #474747;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0;
}
.hardy {
  color: #181818;
  font-size: 70px;
  font-weight: 700;
  margin-top: 2px;
  margin-bottom: 2px;
}
.banner-description {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  max-width: 500px;
}
/* main section styles */
main {
  width: 1140px;
  margin: 0 auto;
}

/* About section styles */
.about {
  margin: 80px 100px;
  background-color: #fff8f3;
  padding: 100px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
#what-i-do-des {
  padding: 10px 200px;
}
.skills-container {
  display: flex;
  justify-content: space-around;
  margin: 80px 100px;
  gap: 20px;
}
.skill {
  margin-top: 0;
  padding: 15px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
